body {
    background: url(http://www.walldevil.com/wallpapers/a11/background-backgrounds-abstract-advertisements-presentations-web-blue.jpg) no-repeat center center fixed;
    font-family: "Open Sans",sans-serif;
    color: white;
}

.footer {
    position: bottom;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: grey;
    text-align: left;
}
.position {
    text-align: justify;
    width: 50%;
    margin: auto
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
li {
    display: inline;
    color: white;
    text-align: center;
    padding: 14px 16px;
    border-right: 1px solid #bbb;
    border-left: 1px solid #bbb;
    text-decoration: none;
}

li:last-child {
    border-right: none;
}

.active {
    background-color: #000;
}
.slide1{
  background-image: 'kitten.jpg';
  height: 500px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.slide2{
  background-image: 'kitten1.jpg';
  height: 500px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.slide3{
  background-image: 'rosszabbcsontok.gif.jpg';
  height: 500px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.carousel-caption h1{
  color: pink;
  font-size: 5.4em;
  font-family: 'Pacifico', cursive;
  padding-bottom: .4em;
}
.carousel-caption p{
  font-size: 5em;
}
