<!DOCTYPE html>
<html>
<head>
    <title>Application</title>
</head>
<body bgcolor="#E6E6FA">
    <h1>Registration Form</h1>

    <form action="{{url_for('registration')}}" method="post">

    <p><label>First name</label></p>
        <input type="text" name="first_name" required pattern="[A-Za-z]{1,10}" title="Enter your first name(without accents)">
    <p><label>Last name</label></p>
        <input type="text" name="last_name" required pattern="[A-Za-z]{1,10}" title="Enter your last name(without accents)">
    <p><label>Hometown</label></p>
        <input type="text" name="hometown" required pattern="[A-Za-z]{1,20}" title="Enter your hometown(without accents)">
    <p><label>E-mail</label></p>
        <input type="email" name="email" required title="Enter a valid email address!">

    <p><input type="submit" value="Submit"></p>
    </form>
</body>
</html>
