<!DOCTYPE html>
<html>
<head>
    <meta charset=UTF-8>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Home - School System</title>
    <link rel="stylesheet" type="text/css" href= "../static/css/bootstrap.css">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Pacifico" type='text/css'>
    <link rel="stylesheet" href= "../static/style.css">
</head>
<body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="static/js/bootstrap.min.js"></script>
    <p align="middle"><img src="https://cdn.evbuc.com/eventlogos/31729335/logo.png" alt="Codecool" width="20%" height="20%"></p>


    <ul>
        <div class="button">
            <li style="float:left"><a href="/"><strong>Home</strong></a></li>
            <li style="float:right"><a href="/registration/"><strong>Register</strong></a></li>
            <li style="float:right"><a href="/applicant/login/"><strong>Log In</strong></a></li>
        </div>
    </ul>
    {% block body %}

    {% endblock %}

    <br>
        <footer>
            <div class="footer">Post-IT 2016 Codecool.</div>
        </footer>


    </div>

</body>
</html>
