<!DOCTYPE html>
<p lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home - School System</title>
</head>
<body bgcolor="#E6E6FA">
    <p><h3 style="font-family:verdana;">Welcome to our amazing site!</h3></p>
    <p><h4 style="font-family:verdana;">Please select a view!</h4></p>
    <p><h1>
        <form action="http://google.com">
        <input type="submit" value="Applicant" />
        </form>
    </h1></p>
    <p><h1>
        <form action="http://google.com">
        <input type="submit" disabled value="Mentor" />
        </form>
    </h1></p>
    <p><h1>
        <form action="http://google.com">
        <input type="submit" value="Administrator" />
        </form>
    </h1></p>
</body>
</html>