{% extends "base.html" %}
{% block body %}

    <body>

    <center><h1><strong>Applicants</strong></h1>
    <table class="table">
        <thead class="thead-inverse">
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Hometown</th>
            <th>E-Mail</th>
            <th>Application Code</th>
            <th>Status</th>
            <th>Closest School</th>
            <th>Appl. Time</th>
        </tr>

    <div class='dropdown'>
    <form action="{{url_for('list_applicants')}}", method="post">
        Show applicants whose
            <select class='black' name="filter_option" >
              <option value='application_time'>application time</option>
              <option value='hometown'>hometown</option>
              <option value='closest_school'>school</option>
              {#<option value="??">interviewer mentor</option>#}
              <option value="first_name">first name</option>
              <option value="last_name">last name</option>
              <option value="email">email address</option>
            </select>
        is
        <input class="forms"type=text title="Please fill this field" required name="search_string"><br><br>
        <p><strong><input type="submit" value="     Show      "></p></strong>
    </div>

    </form>
    <form action="/list/">
        <strong><input type="submit" value="Default table" /></strong>
    </form></center>

{% endblock %}
